In [2]:
import yfinance as yf

In [6]:
msft = yf.Ticker("MSFT")
hist = msft.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.06,0.06,0.06,0.06,1031788800,0.00,0.0
1986-03-14,0.06,0.07,0.06,0.06,308160000,0.00,0.0
1986-03-17,0.06,0.07,0.06,0.07,133171200,0.00,0.0
1986-03-18,0.07,0.07,0.06,0.06,67766400,0.00,0.0
1986-03-19,0.06,0.06,0.06,0.06,47894400,0.00,0.0
...,...,...,...,...,...,...,...
2020-08-19,211.49,212.10,209.25,209.70,27627600,0.51,0.0
2020-08-20,209.54,215.00,208.91,214.58,26981500,0.00,0.0
2020-08-21,213.86,216.25,212.85,213.02,36249300,0.00,0.0
2020-08-24,214.79,215.52,212.43,213.69,25460100,0.00,0.0
2020-08-25,213.10,216.61,213.10,216.47,23003700,0.00,0.0

## Quandl

In [17]:
import quandl

In [18]:
QUANDL_KEY='8ohVvwCgmzgRpFeza8FD'
quandl.ApiConfig.api_key = QUANDL_KEY

In [19]:
df_quandl = quandl.get(dataset='WIKI/AAPL',
                       start_date='2000-01-01', 
                       end_date='2010-12-31')

In [21]:
df_quandl

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-01-03,104.8700,112.50,101.69,111.94,4783900.0,0.0,1.0,3.369314,3.614454,3.267146,3.596463,133949200.0
2000-01-04,108.2500,110.62,101.19,102.50,4574800.0,0.0,1.0,3.477908,3.554053,3.251081,3.293170,128094400.0
2000-01-05,103.7500,110.56,103.00,104.00,6949300.0,0.0,1.0,3.333330,3.552125,3.309234,3.341362,194580400.0
2000-01-06,106.1200,107.00,95.00,95.00,6856900.0,0.0,1.0,3.409475,3.437748,3.052206,3.052206,191993200.0
2000-01-07,96.5000,101.00,95.50,99.50,4113700.0,0.0,1.0,3.100399,3.244977,3.068270,3.196784,115183600.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2010-12-27,322.8519,325.44,321.52,324.68,8922000.0,0.0,1.0,41.490969,41.823576,41.319801,41.725905,62454000.0
2010-12-28,325.9102,326.66,325.06,325.47,6283000.0,0.0,1.0,41.884003,41.980363,41.774741,41.827431,43981000.0
2010-12-29,326.2200,326.45,325.10,325.29,5826400.0,0.0,1.0,41.923817,41.953375,41.779881,41.804299,40784800.0
2010-12-30,325.4800,325.51,323.05,323.66,5624800.0,0.0,1.0,41.828716,41.832572,41.516428,41.594821,39373600.0
2010-12-31,322.9500,323.48,321.31,322.56,6911000.0,0.0,1.0,41.503576,41.571689,41.292813,41.453456,48377000.0