In [137]:
# This program use machine learning algorithm called "Decision Tree" to predict if the price of a stock will increase or decrease

In [138]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import quandl
import yfinance as yf

In [139]:
# API_KEY = '8ohVvwCgmzgRpFeza8FD'
# quandl.ApiConfig.api_key = API_KEY

In [140]:
# df = quandl.get('WIKI/AMZN')
df.tail()
dfy = yf.download('AMZN', start='2000-01-01', end='2020-09-08', progress=False)

In [141]:
dfy

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,81.500000,89.562500,79.046875,89.375000,89.375000,16117600
2000-01-04,85.375000,91.500000,81.750000,81.937500,81.937500,17487400
2000-01-05,70.500000,75.125000,68.000000,69.750000,69.750000,38457400
2000-01-06,71.312500,72.687500,64.000000,65.562500,65.562500,18752000
2000-01-07,67.000000,70.500000,66.187500,69.562500,69.562500,10505400
...,...,...,...,...,...,...
2020-08-31,3408.989990,3495.000000,3405.000000,3450.959961,3450.959961,4185900
2020-09-01,3489.580078,3513.870117,3467.000000,3499.120117,3499.120117,3476400
2020-09-02,3547.000000,3552.250000,3486.689941,3531.449951,3531.449951,3931500
2020-09-03,3485.000000,3488.409912,3303.000000,3368.000000,3368.000000,8161100
2020-09-04,3318.000000,3381.500000,3111.129883,3294.620117,3294.620117,8781800

In [142]:
dfy['Price_Up'] = np.where(dfy['Close'].shift(-1, axis=0) > dfy['Close'], 1, 0)
dfy.head(20)

,Open,High,Low,Close,Adj Close,Volume,Price_Up
Date,,,,,,,
2000-01-03,81.5000,89.5625,79.046875,89.3750,89.3750,16117600,0
2000-01-04,85.3750,91.5000,81.750000,81.9375,81.9375,17487400,0
2000-01-05,70.5000,75.1250,68.000000,69.7500,69.7500,38457400,0
2000-01-06,71.3125,72.6875,64.000000,65.5625,65.5625,18752000,1
2000-01-07,67.0000,70.5000,66.187500,69.5625,69.5625,10505400,0
2000-01-10,72.5625,72.6250,65.562500,69.1875,69.1875,14757900,0
2000-01-11,66.8750,70.0000,65.000000,66.7500,66.7500,10532700,0
2000-01-12,67.8750,68.0000,63.000000,63.5625,63.5625,10804500,1
2000-01-13,64.9375,67.1875,63.125000,65.9375,65.9375,10448100,0
2000-01-14,66.7500,68.6250,64.000000,64.2500,64.2500,6853600,0
2000-01-18,63.4375,65.1875,63.000000,64.1250,64.1250,5384900,1
2000-01-19,64.1250,67.5000,63.000000,66.8125,66.8125,8245500,0
2000-01-20,66.9375,67.0000,63.937500,64.7500,64.7500,5978000,0
2000-01-21,64.6250,64.6250,60.000000,62.0625,62.0625,11461900,1
2000-01-24,67.5625,73.3750,67.500000,70.1250,70.1250,29170200,0
2000-01-25,70.0000,71.2500,66.000000,69.2500,69.2500,9434100,0
2000-01-26,68.6250,70.0000,64.750000,64.8125,64.8125,6558000,1
2000-01-27,65.1875,67.7500,64.625000,66.9375,66.9375,6784000,0
2000-01-28,65.0000,66.4375,60.000000,61.6875,61.6875,13777900,1
2000-01-31,60.3750,64.7500,58.437500,64.5625,64.5625,10697900,1

In [143]:
dfy['Price_Up'] = np.where(dfy['Close'].shift(1) > dfy['Close'], 1, 0)
dfy.head(20)

,Open,High,Low,Close,Adj Close,Volume,Price_Up
Date,,,,,,,
2000-01-03,81.5000,89.5625,79.046875,89.3750,89.3750,16117600,0
2000-01-04,85.3750,91.5000,81.750000,81.9375,81.9375,17487400,1
2000-01-05,70.5000,75.1250,68.000000,69.7500,69.7500,38457400,1
2000-01-06,71.3125,72.6875,64.000000,65.5625,65.5625,18752000,1
2000-01-07,67.0000,70.5000,66.187500,69.5625,69.5625,10505400,0
2000-01-10,72.5625,72.6250,65.562500,69.1875,69.1875,14757900,1
2000-01-11,66.8750,70.0000,65.000000,66.7500,66.7500,10532700,1
2000-01-12,67.8750,68.0000,63.000000,63.5625,63.5625,10804500,1
2000-01-13,64.9375,67.1875,63.125000,65.9375,65.9375,10448100,0
2000-01-14,66.7500,68.6250,64.000000,64.2500,64.2500,6853600,1
2000-01-18,63.4375,65.1875,63.000000,64.1250,64.1250,5384900,1
2000-01-19,64.1250,67.5000,63.000000,66.8125,66.8125,8245500,0
2000-01-20,66.9375,67.0000,63.937500,64.7500,64.7500,5978000,1
2000-01-21,64.6250,64.6250,60.000000,62.0625,62.0625,11461900,1
2000-01-24,67.5625,73.3750,67.500000,70.1250,70.1250,29170200,0
2000-01-25,70.0000,71.2500,66.000000,69.2500,69.2500,9434100,1
2000-01-26,68.6250,70.0000,64.750000,64.8125,64.8125,6558000,1
2000-01-27,65.1875,67.7500,64.625000,66.9375,66.9375,6784000,0
2000-01-28,65.0000,66.4375,60.000000,61.6875,61.6875,13777900,1
2000-01-31,60.3750,64.7500,58.437500,64.5625,64.5625,10697900,0

In [144]:
X = dfy.iloc[:, 0:dfy.shape[1]-1].values
y = dfy.iloc[:, dfy.shape[1]-1].values
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)

In [145]:
# Create and train the model (DecisionTreeClassifier)
tree = DecisionTreeClassifier().fit(X_train,y_train)
tree.score(X_test,y_test)

0.6945244956772334

In [146]:
predictions = tree.predict(X_test)

In [147]:
print(predictions)
print(y_test)

[0 0 1 ... 0 1 0]
[1 0 1 ... 0 1 0]